.svn/
gwt-unitCache/
ivy-lib*/
*.class
war/empiria.player/
war/eu.ydp*/
war/WEB-INF/classes/
war/WEB-INF/deploy/
war/WEB-INF/lib/
war/.gitignore
.settings/
www-test/
.ruleset
.pmd
pmd.xml
src/eu/ydp/empiria/player/client/version/version.txt
cobertura-report/
reports/
.gwt/
dist/
metadata.xml
war
.gradle/
build/
.settings/
.project
.classpath
/bin
